:root {
  --primary-color: #ffc72b;
  --secondary-color: #ff0058;
  --text-color: #000;
  --white-color: #fff;
  --gradiantbg-color: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 242, 206, 1) 100%
  );
  --mainbg-color: #fbfaf5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Montserrat", sans-serif;
}

.logo-small {
  width: 47px;
  height: 50px;
}

.logo-header-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 112px;
  border-radius: 100%;
  background-color: var(--primary-color);
}

.logo-header-main-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 142px;
  height: 142px;
  border-radius: 100%;
  background-color: var(--white-color);
  position: absolute;
  top: -70px;
  left: 130px;
}

.modal-main-header {
  padding: 10px 10px 0px 10px;
  position: relative;
}

.modal{
    --bs-modal-width: 400px !important;
}

.modal-header {
  border: none !important;
}

.forgot-password-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
  text-align: center;
}

.forgot-password-subtitle {
  font-size: 12px;
  font-weight: 400;
  margin: 3px 0px;
  text-align: center;
}

.forgot-title-header-card {
  margin: 20px 35px 50px 35px;
}

.modal-back-close {
  cursor: pointer;
}

.modal-email-submit-btn {
  border: none;
  background-color: var(--secondary-color);
  padding: 8px 80px;
  border-radius: 8px;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 600;
}

.modal-footer{
    justify-content: center !important;
    border: none !important;
}

.modal-submit-btn-card{
    margin: 80px 0px 10px 0px !important;
}

.modal-content{
    background-color: var(--mainbg-color) !important;
}

.resend-code-btn{
  font-size: 12px;
  font-weight: 600;
  color: var(--primary-color);
  border: none;
  background-color: transparent;
  text-transform: uppercase;
}

.resend-code-card{
  text-align: center;
  margin-top: 20px;
}